@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
    themes: dim --default;
}

@layer base {
    html {
        font-family: "Noto Sans Bengali", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }
    ::selection {
        @apply bg-primary text-primary-content;
    }
}